<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058236653836-20dl0o2jiakd23ps86ds79k18jedukl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058236653836-20dl0o2jiakd23ps86ds79k18jedukl3</string>
	<key>API_KEY</key>
	<string>AIzaSyALXHIViZwKUicYOH2EBe4EryB2wejr2GE</string>
	<key>GCM_SENDER_ID</key>
	<string>1058236653836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>esra.sa.sayar</string>
	<key>PROJECT_ID</key>
	<string>melah-490e0</string>
	<key>STORAGE_BUCKET</key>
	<string>melah-490e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058236653836:ios:90e9e6e1e35b6d1364e929</string>
</dict>
</plist>